<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Планировки</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div style="display: flex;">
        <img alt="Генеральный план" id="box" src="./img/general_plans.jpg" style="margin: auto;height: 100vh;"/>
        <svg fill="none" height="100%" id="general_plan"
             style="position: absolute;bottom: 0;left: 0;z-index: 90;height: 100vh;margin: auto;" viewBox="0 0 1342 768"
             width="100%"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="url(#pattern0)" height="896" width="100%"/>
            <a :key="index" @click="openBlock(block)" @mouseleave="showBlockInfo(null,false)"
               @mouseover="showBlockInfo(block, true)"
               class="btn-block" v-for="(block, index ) in apartments"
               v-html="block.svgElement"
            >
            </a>
        </svg>
    </div>

    <div class="blockInfo" ref="blockInfo">
        <strong>Блок {{ blockInfo.name }}</strong>
        <div>
            <p>Этажность: <strong>{{ blockInfo.floorCount }}</strong></p>
            <p>Площадь: <strong>{{ blockInfo.square }}</strong></p>
            <p>Количество квартир: <strong>{{ blockInfo.apartmentCount }}</strong></p>
        </div>
    </div>

    <div class="block-a_modal" id="block-a_modal" v-if="showApartments">
        <div class="big-a-block">
            <span @click="showApartments = false" class="close-a">&times;</span>
            <h1 align="center">{{ block.name }}</h1>
            <h1 align="center">Выберите квартиру</h1>
            <div class="floors">
                <div :key="index" class="floor" v-for="(floor, index) in block.floors">
                    {{ floor.name }}
                    <div class="apartments">
                        <div :key="index" class="apartment" v-for="(apartment, index) in floor.apartments">
                            <button :class="apartment.soldStatus ? 'disabled': ''"
                                    :disabled="apartment.soldStatus" @click="openApartment(apartment, floor)">
                                {{ apartment.roomCount }} квартира
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Plan Modal -->
    <div class="modal" id="myModal" v-if="showApartment">
        <!-- Modal content -->
        <div class="modal-content">
            <span @click="showApartment = false" class="close">&times;</span>
            <div class="plan-popup">
                <div class="plan-img">
                    <input checked id="tab1" name="tab" type="radio">
                    <label for="tab1">Планировка</label>
                    <input id="tab2" name="tab" type="radio">
                    <label for="tab2">С мебелью</label>
                    <div class="line"></div>
                    <br>
                    <div class="content-container">
                        <div class="content" id="c1">
                            <a class="cursor-pointer" @click="openApartmentPhoto(apartment.plan)">
                                <img :src="apartment.plan" alt="" id="img" width="300px">
                            </a>
                        </div>
                        <div class="content" id="c2">
                            <a class="cursor-pointer" @click="openApartmentPhoto(apartment.planWithFurniture)">
                                <img :src="apartment.planWithFurniture" alt="" id="img2" width="300px">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form">
                    <p>Блок: <strong>{{ block.name }}</strong></p>
                    <p>Общая площадь: <strong>{{ apartment.generalSquare }}</strong></p>
                    <p>Жилая площадь: <strong>{{ apartment.liveSquare }}</strong></p>
                    <p>Количество комнат: <strong>{{ apartment.roomCount }}</strong></p>
                    <p>Этаж: <strong>{{ floor.name }}</strong></p>
                    <p>Статус: <strong>{{ apartment.soldStatus ? 'Продано' : 'Не продано' }}</strong></p>
                </div>
            </div>

        </div>

    </div>

    <!-- The Plan Photo Modal -->
    <div class="modal" v-if="showApartmentPhoto">
        <!-- Modal content -->
        <div class="modal-content">
            <span @click="showApartmentPhoto = false" class="close close-img">&times;</span>
            <span class="close download"><a :href="downloadImg" target="_blank"><img alt="Скачать"
                                                                                        src="./img/download.png"></a></span>
            <div class="plan-popup">
                <img :src="downloadImg" alt="" class="apartment-img" width="100%">
            </div>

        </div>

    </div>

</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue-axios@2.1.4/dist/vue-axios.min.js"></script>
<script type="module">

    const {createApp} = Vue

    const app = createApp({
        data() {
            return {
                apartments: [],
                blockInfo: {
                    status: false,
                    name: '',
                    floorCount: '',
                    square: '',
                    apartmentCount: '',
                },
                apartment: {
                    square: '',
                    plan: '',
                    planWithFurniture: '',
                    generalSquare: '',
                    liveSquare: '',
                    roomCount: '',
                    soldStatus: ''
                },
                floor: {
                    name: ''
                },
                showApartments: false,
                showApartment: false,
                showApartmentPhoto: false,
                block: [],
                downloadImg: '',
            }
        },
        mounted() {
            axios
                .get('./data/apartments.json')
                .then(response => (this.apartments = response.data))
        },
        methods: {
            showBlockInfo(data, status) {
                let blockInfoRef = this.$refs.blockInfo
                blockInfoRef.style.left = `${event.clientX + 25}px`;
                blockInfoRef.style.top = `${event.clientY + 25}px`;
                status ? blockInfoRef.style.display = 'flex' : blockInfoRef.style.display = 'none'
                status ? this.blockInfo = data : this.blockInfo = {}
                this.blockInfo.status = !this.status;
            },
            openBlock(block) {
                this.showApartments = true
                this.block = block
            },
            openApartment(apartment, floor) {
                this.showApartment = true
                this.showApartments = false
                this.apartment = apartment
                this.floor = floor
            },
            openApartmentPhoto(path) {
                this.showApartment = false
                this.showApartmentPhoto = true
                this.downloadImg = path
            }
        }
    }).mount('#app')

    const box = document.getElementById("box")

    if (window.innerWidth <= 1024) {
        setTimeout(() => {
            document.getElementById("general_plan").style.width = box.offsetWidth + 'px';
        }, 3000)
    }

</script>
</body>


</html>
